<!-- <button (click)="textbtn()">{{text}}</button>
show = {{show}}
<br>
<div *ngIf="show">Text to show</div> -->


<!-- <div class="row">
    <button [class.active]="view == 'map'" (click)="view = 'map' ">map View</button>
    <button [class.active]="view == 'list'" (click)="list()">list view</button>
</div>

<div [ngSwitch]="view">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">list View Content</div>
    <div *ngSwitchDefault>SomethingElse</div>

</div> -->

